{% extends "base_map.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

<style>
  html,
  body {
    background-color: #f1f1f2;
    font-size: 18px;
    line-height: 1;
  }

  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans", sans-serif;
    color: #808284;
  }

  .container {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #808284;
    padding-top: 50px;
    background: #f1f1f2;
    padding-bottom: 50px;
  }

  #dashboard-top-spacer {
    height: 25px;
  }

  #referrals .leaderboard_points {
    margin-top: 5px;
  }

  .well {
    height: 380px;
    overflow: hidden;
  }

  .dashboard-tip-spot {
    position: absolute;
    z-index: 50;
    bottom: 30px;
    right: 20px;
    height: 26px;
    width: 26px;
    margin-top: 0px;
    padding-top: 3px;
    border-radius: 13px;
    text-align: center;
    background-color: #E6E7E8;
    color: #A7A9AB;
  }

  @media (max-width: 768px) {
    .dashboard-tip-spot {
      bottom: 10px;
    }
  }

  .dashboard-tip-spot-content {
    display: none;
  }

  .warning-button {
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #47bccc;
    border-radius: 5px;
    background-color: #47c1d2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }
</style>
{% endblock %} {% block body %}
<div id="container" class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Tier</th>
          <th>Point Balance</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>

        {% for item in users %}
        <tr>
          <td><a class="modal_name" data-toggle="modal" data-target="#myModal" data-loc="{{item.location}}" data-name="{{item.name}}" href="#">{{item.name}}</a></td>
          <td>{{item.tier}}</td>
          <td>{{item.points}}</td>
          {% if item.user not in phones %}
          <td></td>
          {% endif%} {% for phone in phones[item.user]%} {% if loop.index > 1 %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{phone}}
            </td>
          </tr>
          {% else %}
          <td>{{phone}}</td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">Modal Body</div>
      </div>

    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.modal_name').click(function() {
        $('.modal-title').html($(this).data('name'));
        $('.modal-body').html('Location: ' + $(this).data('loc'));
      });
    });
  </script>

</div>
{% endblock %}
